.search-ops-buttons > a.btn:not(:last-child) {
  margin-right: 8px;
}

.parallax-container {
  height: 380px;
  background-size: cover;
  background-image: url('/assets/images/background1.jpg');
  > img {
    height: 100%;
  }
}