@import 'Navbar';

body {
  margin: 0;
  padding: 0;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*
.hero-img-container {
  width: 100%;
  height: 300px;
  background-image: url(http://www.clickgratis.com.br/fotos-imagens/imagens/aHR0cDovL3d3dy5jbGlja2dyYXRpcy5jb20uYnIvZm90b3MtaW1hZ2Vucy9pbWFnZW5zL2FIUjBjRG92TDJKeUxuZGxZaTVwYldjeUxtRmpjM1JoTG01bGRDOXlYM2hmTmpBd0wyNWxkM04yTnk4eE5TOHdOaTh4TlM4eE5TOHpPQzh6TXpRM05URXdMbXB3Wnc9PS5qcGc=.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
*/

.grey-background {
  background-color: #bdbdbd !important;
}